$mdc-theme-primary: #0077ce;
$mdc-theme-secondary: #1fa5ee;
$mdc-theme-on-primary: #e3f2fa;
$mdc-theme-on-secondary: #e3f2fa;

@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/floating-label/mdc-floating-label";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/chips/mdc-chips";
@import "@material/snackbar/mdc-snackbar";